.container
  .pageBack
    = link_to '<< back', board_path(@board)
  .card_detail
    %h2.card_task_pageTitle= @task.name.truncate(13)
    -if current_user.has_written_task?(@task)
      .card_detail_actions
        .dropdown.dropbtn
          = image_tag 'dropdown-icon.png', class: 'board_dropdown'
          .dropdown_content
            = link_to 'Edit', edit_board_task_path(@board, @task)
            = link_to 'Delete', board_task_path(@board, @task), data: { method: 'delete',confirm: 'Are you sure you want to delete it?' }
  -if @task.eyecatch.attached?
    .card_image
      = image_tag @task.eyecatch
  .card_task_content
    .card_task_description
      = @task.description

  .card_task_comment
    .card_task_comment_title
      %p Comment
    - @comments.each do |comment|
      .card_task_comment_detail
        .card_task_comment_avatar
          = image_tag comment.user.avatar_image, class: 'card_task_comment_avatar'
        .card_task_comment_content
          = comment.content

  = link_to new_board_task_comment_path(@board, @task) do
    .card_add_new_comment
      + Add new comment