.container
  .card_detail
    %h2.card_task_pageTitle= @task.name.truncate(15)
    -if current_user.has_written_task?(@task)
      .card_detail_actions
        .dropdown.dropbtn
          = image_tag 'dropdown-icon.png', class: 'board_dropdown'
          .dropdown_content
            = link_to 'Edit', root_path
            -# edit_board_path(board)
            = link_to 'Delete', root_path
            -# board_path(board), data: { method: 'delete',confirm: 'Are you sure you want to delete it?' }
  -if @task.eyecatch.attached?
    .card_image
      = image_tag @task.eyecatch