.card_content
  .card_detail
    .card_detail_name
      = board.name
    - if current_user.has_written_board?(board)
      .card_detail_actions
        .dropdown.dropbtn
          = image_tag 'dropdown-icon.png', class: 'board_dropdown'
          .dropdown_content
            = link_to 'Edit', edit_board_path(board)
            = link_to 'Delete', board_path(board), data: { method: 'delete',confirm: 'Are you sure you want to delete it?' }
  .card_description
    = board.description
  .card_avatar
    = image_tag board.user.avatar_image, class: 'avatar'
  .card_auther_name
    - if board.user.present?
      %p= board.user.display_name
  .card_link
    = link_to 'more...', board_path(board)