= link_to board_path(board) do
  .board_content
    .board_detail
      .board_detail_name
        = board.name
      -# createしたときのboard_nameを表示する
      - if current_user.has_written?(board)
        .board_detail_actions
          .dropdown.dropbtn
            = image_tag 'dropdown-icon.png', class: 'board_dropdown'
            .dropdown_content
              = link_to 'Edit', edit_board_path(board)
              = link_to 'Delete', board_path(board), data: { method: 'delete',confirm: 'Are you sure you want to delete it?' }
    .board_description
      = board.description
    -# createしたときのboard_descriptionを表示
    .board_avatar
      = image_tag board.user.avatar_image, class: 'avatar'
    .board_auther_name
      - if board.user.present?
        %p= board.user.display_name