.container
  %h2.board_pageTitle= @board.name
  -#task詳細が見られるようにlink_toで囲う
  - @tasks.each do |task|
    .board_content
      -if task.eyecatch.attached?
        .board_image
          = image_tag task.eyecatch
      .board_detail
        .board_detail_name
          = task.name
      .board_description
        = task.description
      .board_avatar
      = image_tag @board.user.avatar_image, class: 'avatar'
      .board_auther_name
        - if @board.user.present?
          %p= @board.user.display_name

  = link_to new_board_task_path(@board) do
    .board_add_new
      + Add new card